# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ To learn about popular programming languages used by Data Scientists
+ To learn about popular Data Science Libraries.
+ To learn about Data Science Tools.
+ To perform some arithmetic operations in Juypter notebook.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Javascript
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. PyTorch
4. Tenserflow

| Data Science Tools |
----------------------
| Juypter |
| Anaconda |
|Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Kunal Takalkar